.tag-container {
  padding-inline: 16px;
  margin-top: 20px;
}

.tag-container h2 {
  color: rgba(82, 88, 102, 1);
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.5px;
}

.black {
  color: rgb(0, 0, 0);
}

.tag-container p {
  color: rgba(43, 48, 59, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: -0.2px;
  margin-block: 16px;
}

.new-notes-tag h3 {
  color: rgb(0, 76, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  letter-spacing: -0.30000001192092896px;
}

.new-notes-tag h5 {
  display: inline-block;
  color: rgb(0, 76, 255);
  background-color: rgba(224, 228, 234, 1);
  margin-block: 12px;
  padding: 2px 6px;
}

.new-notes-tag h6 {
  color: rgba(43, 48, 59, 1);
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  letter-spacing: -0.20000000298023224px;
}
