/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

button {
  cursor: pointer;
}

.container {
  padding-inline: 16px;
  margin-top: 20px;
  margin-bottom: 100px;
}

hr {
  margin-block: 12px;
  opacity: 0.5;
}

.dark-theme {
  background-color: rgba(14, 18, 27, 1);
  div {
    background-color: rgba(14, 18, 27, 1);
    color: white;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  button,
  input {
    color: white;
  }
  header {
    background-color: rgba(35, 37, 48, 1);
  }

  input {
    background-color: white;
  }

  .body {
    input {
      background-color: transparent;
      color: white;
    }
  }

  .menu-bar {
    background-color: rgba(14, 18, 27, 1);
    box-shadow: 0px -5px 6px 0px rgba(0, 0, 0, 0.5);
    border-top: none;
    
    button {
      background-color: rgba(14, 18, 27, 1);
    }
    ul {
      background-color: rgb(14, 18, 27);
      box-shadow: none;
    }
    li {
      background-color: rgba(14, 18, 27, 1);
    }

    svg {
      fill: white;
    }
  }

  .tag > h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
  }

  hr {
    color: rgba(35, 37, 48, 0.4);
  }

  html,body {
    height: 100%;
  }

  .search-area p {
    color: rgba(202, 207, 216, 1);
  }

  .sidebar-area h5 {
    background-color: rgba(35, 37, 48, 1);
    color: white;
  }

  .search-area h2 {
    color: white;
  }

  .search-area h5 {
    background-color: rgba(35, 37, 48, 1);
    color: white;
  }

  .search h3 {
    color: white;
  }

  .search h6 {
    color: rgba(224, 228, 234, 1);
  }

  .buttons {
    background-color: rgba(35, 37, 48, 1);
  }

  .buttons button {
    background-color: transparent;
  }

  .new-note-body input {
    background-color: transparent;
    color: white;
  }

  .new-note-body input::placeholder {
    color: white;
  }

  .new-notes h3 {
    color: white;
  }

  .new-notes h5 {
    color: white;
    background-color: rgba(43, 48, 59, 1);
  }

  .new-notes h6 {
    color: rgba(224, 228, 234, 1);
  }

  .note-input h6,
  input {
    color: rgba(202, 207, 216, 1);
  }

  .note-flex h5 {
    background-color: transparent;
  }

  textarea {
    background-color: transparent;
    color: white;
  }

  .note-flex button {
    background-color: transparent;
    color: rgba(51, 92, 255, 1);
  }

  .archive-area h5 {
    background-color: rgba(82, 88, 102, 1);
  }

  .archive h6 {
    background-color: rgba(82, 88, 102, 1);
  }

  dialog {
    background-color: rgba(43, 48, 59, 1);
    box-shadow: 0px 28px 22px 0px;
  }

  dialog p {
    color: rgba(224, 228, 234, 1);
  }

  .modal-buttons {
    background-color: transparent;
  }

  .modal-buttons button:nth-child(1) {
    background-color: rgba(113, 119, 132, 1);
    color: rgba(224, 228, 234, 1);
  }

  .modal-buttons button:nth-child(2) {
    color: white;
  }

  .container h2 {
    color: white;
  }
  .tag-name h6 {
    color: white;
  }

  .note-section input {
    background-color: transparent;
    color: white;
  }

  .font-flex h3 {
    color: white;
  }

  .font-flex p {
    color: white;
  }

  .font-area p {
    color: white;
  }

  .password-container input {
    background-color: transparent;
  }

  .password-container h6 {
    color: white;
  }

  .password-container span {
    color: rgba(153, 160, 174, 1);
  }

  .tag-container h2 {
    color: rgba(153, 160, 174, 1);
  }
  .tag-container span {
    color: white;
  }
  .tag-container p {
    color: rgba(202, 207, 216, 1);
  }

  .header h2 {
    color: #fff;
    font-family: "Pacifico", serif;
    font-size: 23px;
    font-weight: 400;
    line-height: 40.39px;
    letter-spacing: -0.02em;
  }
  .desktop-menu-h6 {
    color: rgba(224, 228, 234, 1);
  }

  .detail-container input {
    color: white;
  }
  .wide-column-inner h6 {
    color: rgba(202, 207, 216, 1);
  }
  .wide-column-textarea textarea {
    color: rgba(243, 245, 248, 1);
  }
  .btn-group-column-container h6{
    color: white;
  }
  .cancel-btn{
    background-color: rgba(35, 37, 48, 1);
  }
  .password-input {
    border: 1px solid var(--colors-neutral-600, rgba(82, 88, 102, 1));
    color: white;
    font-size: 17px;
    padding-left: 12px;
  }
  .header a svg path {
    fill: white !important;
  }
   .column-logo svg path {
    fill: white !important;
  } 
  .empty-area {
    background-color: rgba(43, 48, 59, 1);
  }
  .empty-area p  {
    color: white;
  }

}



