h2 {
  color: rgb(0, 71, 238);
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.5px;
  margin-block: 20px 16px !important;
}

.plus {
  background-color: rgba(51, 92, 255, 1);
  border-radius: 50%;
  padding: 15px;
  position: fixed;
  inset-block: 75%;
  inset-inline: 85%;
}

.empty-area {
  padding: 8px;
  background-color: rgba(243, 245, 248, 1);
  border: 1px solid rgba(224, 228, 234, 1);
  p {
    color: rgba(14, 18, 27, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: -0.2px;
  }
}

.new-notes h3 {
  color: rgba(14, 18, 27, 1);
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  letter-spacing: -0.30000001192092896px;
}

.new-notes h5 {
  display: inline-block;
  color: rgba(14, 18, 27, 1);
  background-color: rgba(224, 228, 234, 1);
  margin-block: 12px;
  padding: 2px 6px;
}

.new-notes h6 {
  color: rgba(43, 48, 59, 1);
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  letter-spacing: -0.20000000298023224px;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
