.tags-detail-container {
  padding-inline: 16px;
}

.tags-detail-container h2 {
  color: rgba(14, 18, 27, 1);
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.5px;
  margin-bottom: 26px;
}

.tags-detail-container .tags-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.2px;
  color: rgb(113, 119, 132);
  margin-block: 8px;
}

.tags-area {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 31px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(224, 228, 234, 1);
}

.tags {
  border-bottom: none;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;
  padding-block: 10px;
}

.tag-name h6 {
  color: rgba(43, 48, 59, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -0.2px;
}

.tags-container {
  padding-inline: 16px;
  margin-top: 20px;
}
