.search-area {
  padding: 24px 16px;
}

.search-area h2 {
  color: rgba(14, 18, 27, 1);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: -0.5px;
  margin-bottom: 16px;
}

.search-area input {
  width: 100%;
  height: 44px;
  border: 1px solid rgba(202, 207, 216, 1);
  border-radius: 8px;
  background: url("/images/search-icon.svg") no-repeat center left 5%;
  padding-left: 44px;
  outline-color: rgb(118, 124, 124);
  margin-bottom: 20px;
}

.search-area {
  padding: 20px 16px;
}

.search-area p {
  color: rgba(43, 48, 59, 1);
  margin-block: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  letter-spacing: -0.20000000298023224px;
}

.search-area span {
  font-weight: bolder;
}

.search h3 {
  color: rgba(14, 18, 27, 1);
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  letter-spacing: -0.30000001192092896px;
}

.search h5 {
  background-color: rgba(243, 245, 248, 1);
  border: 1px solid rgba(224, 228, 234, 1);
  display: inline-block;
  margin-block: 12px;
  border-radius: 8px;
  padding: 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  letter-spacing: -0.20000000298023224px;
}

.search h6 {
  color: rgba(43, 48, 59, 1);
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  letter-spacing: -0.20000000298023224px;
  border-bottom: 1px solid rgb(221, 211, 211);
  padding-bottom: 12px;
}

.notFound-text {
  background-color: rgba(224, 228, 234, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  letter-spacing: -0.20000000298023224px;
  border-radius: 8px;
}