.font-area {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.font-area h2 {
  color: rgba(14, 18, 27, 1);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: -0.5px;
  margin-top: 24px;
}

.font-area p {
  color: rgba(43, 48, 59, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  letter-spacing: -0.20000000298023224px;
  margin-bottom: 20px;
}

.font {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.font h3 {
  color: rgba(14, 18, 27, 1);
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  letter-spacing: -0.20000000298023224px;
}

.font p {
  color: rgba(43, 48, 59, 1);
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  letter-spacing: -0.20000000298023224px;
}


.font-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
}


.font-save-btn {
  display: flex;
  justify-content: center;
  background-color: rgba(51, 92, 255, 1);
  color: white;
  width: 132px;
  margin-bottom: 160px;
  right: 0%;
  padding: 5px ;
  border: none;
  border-radius: 8px;
  margin-left: auto;
  padding-block: 12px;
}